In [130]:
import pandas as pd
from matplotlib import pyplot as plt
from numpy import sqrt
import numpy as np

hello=pd.read_csv('E:\Python\Corona_Updated.csv')

In [43]:
hello.head(10)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Temprature,Humidity,Temp_Cat,Humid_Cat
0,Hubei,Mainland China,2020-03-10T15:13:05,67760,3024,47743,30.9756,112.2707,12.5,86,1,1
1,NaN,Italy,2020-03-10T17:53:02,10149,631,724,43.0000,12.0000,12.9,64,1,1
2,NaN,Iran (Islamic Republic of),2020-03-10T19:13:20,8042,291,2731,32.0000,53.0000,11.9,9,0,0
3,NaN,Republic of Korea,2020-03-10T19:13:20,7513,54,247,36.0000,128.0000,4.9,41,0,0
4,NaN,France,2020-03-10T18:53:02,1784,33,12,47.0000,2.0000,11.9,93,0,0
5,NaN,Spain,2020-03-10T23:53:02,1695,35,32,40.0000,-4.0000,22.3,36,1,1
6,NaN,Germany,2020-03-10T18:53:02,1457,2,18,51.0000,9.0000,10.4,91,0,0
7,Guangdong,Mainland China,2020-03-10T09:13:07,1353,8,1274,23.3417,113.4244,20.9,79,1,1
8,Henan,Mainland China,2020-03-08T05:03:02,1272,22,1247,33.8820,113.6140,14.7,59,1,1
9,Zhejiang,Mainland China,2020-03-10T10:33:02,1215,1,1191,29.1832,120.0934,11.0,89,0,0

In [129]:
import pandas as pd
from matplotlib import pyplot as plt
from numpy import sqrt
from scipy.stats import norm
import numpy as np

#Question
#A common perception about COVID-19 is that Warm Climate is more resistant to the corona outbreak and we need to
#verify this using Hypothesis Testing. So what will our null and alternate hypothesis be?

hello=pd.read_csv('E:\Python\Corona_Updated.csv')

#Ho=warm climate(temperature) not effect to corona outbreak
#Ha=warm climate(temperature) effect the corona outbreak

hello.head()


data1=hello[hello['Temp_Cat']==1]['Confirmed']
data2=hello[hello['Temp_Cat']==0]['Confirmed']


m1=np.mean(d1)
m2=np.mean(d2)
n1=len(d1)
n2=len(d2)
sigma1=np.std(d1)
sigma2=np.std(d2)


def corona(m1,m2,n1,n2,sigma1,sigma2):
    z= ((m1-m2)/sqrt((sigma1**2/n1)+(sigma2**2/n2)))
    pval = 2*(1 - norm.cdf(abs(z)))
    return pval



pvalue=corona(m1,m2,n1,n2,sigma1,sigma2)
alpha=0.05

if pvalue>0.05:
    print('Accept null hypothesis')
    print('Temperature does not effect the corona')
else:
    print('Reject null hypothesis')
    print('Temperature does effect the corona')

Accept null hypothesis
Temperature does not effect the corona